{% if parent.companyIncomings|length > 0 %}
    {# <h2>Ingresos de explotación</h2> #}
    <div class="row">
        <div class="col-3 font-weight-bold">Fecha</div>
        <div class="col font-weight-bold">Cantidad original</div>
        <div class="col font-weight-bold">Valor euros</div>
    </div>
    {% for entity in incomings %}
        <div class="row border">
            <div class="col-3 border-right"><a href="{{ path(prefix ~ 'incoming_edit', { 'id': entity.incoming.id }) }}">{{ entity.incoming.year|date('d/m/Y') }}</a></div>
            <div class="col">{{ entity.incoming.amount|number_format(0, '.', ',') }} {{ entity.incoming.currency.symbol }}</div>
            {% if entity.incoming.currency.code != 'EUR' %}
            <div class="col"> x {{ entity.exchange.amount }} = {{ (entity.incoming.amount * entity.exchange.amount)|number_format(0, '.', ',') }} €</div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No hay ingresos para esta empresa</p>
{% endif %}
<br>
<p><a href="{{ path(prefix ~ 'incomings_new', {'id': parent.id } )}}">Añadir ingreso explotación</a></p>
