{{ form_start(form) }}
    <div class="row">&nbsp;</div>
    {% if form.owned is defined %}
        <div class="row">
            <div class="col-6">
            {{ form_row(form.owned) }}
            </div>
        </div>
    {% endif %}
    {% if form.via is defined %}
        <div class="row">
            <div class="col1">
            {{ form_row(form.via) }}
            </div>
        </div>
    {% endif %}
    {% if form.direct is defined %}
        <div class="row">
            <div class="col-3">
            {{ form_row(form.direct, {'label': '% directo' }) }}
            </div>
            <div class="col-3">
            {{ form_row(form.percent, {'label': '% total' }) }}
            </div>
        </div>
    {% endif %}
    {% if form.batch is defined %}
    <div class="row">
        <div class="col-12">
        {{ form_row(form.batch) }}
        </div>
    </div>
    {% endif %}
    {% if form.textowned is defined %}
    <div class="row">
        <div class="col-6">
        {{ form_row(form.textowned, {'label': 'Nombre de la participada' }) }}
        </div>
        <div class="col-1">
        {{ form_row(form.textcountry, {'label': 'País' }) }}
        </div>
    </div>
    {% endif %}
    <button class="btn btn-info">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
