{{ form_start(form) }}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">
        {{ form_row(form.owned) }}
        </div>
        <div class="col-4">
        {{ form_row(form.percent) }} %
        </div>
    </div>
    <button class="btn btn-info">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
