{{ form_start(form) }}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">
        {{ form_row(form.holder) }}
        </div>
        <div class="col-1">
        {{ form_row(form.via) }}
        </div>
        <div class="col-2">
        {{ form_row(form.directOwnership) }}
        </div>
        <div class="col-2">
        {{ form_row(form.totalOwnership) }}
        </div>
    </div>
    {% if parent is defined %}
    <div class="row">
        <div class="col-12">
        {{ form_row(form.batch) }}
        </div>
    </div>
    {% endif %}
    <button class="btn btn-info">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
