{{ form_start(form) }}
    <div class="row">&nbsp;</div>
    {% if form.holder is defined %}
        <div class="row">
            <div class="col-4">
            {{ form_row(form.holder) }}
            </div>
        </div>
̣     <div class="row">
        <div class="col-6">
        {{ form_row(form.holderCategory, {'label': 'Categoría del accionista'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {{ form_row(form.via, { 'label': 'via its funds' }) }}
        </div>
        <div class="col-1">
            {{ form_row(form.skip) }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {{ form_row(form.direct) }}
        </div>
        <div class="col-2">
            {{ form_row(form.total) }}
        </div>
    </div>
{% endif %}
    {% if parent is defined %}
    <div class="row">
        <div class="col-12">
        {{ form_row(form.batch) }}
        </div>
    </div>
    {% endif %}
    <button class="btn btn-info">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
