{% set total = parent.companyHolders|length %}
{% set lastCompanyIncomings = 0 %}
{% for i in parent.companyIncomings %}{% set lastCompanyIncomings = i.amount %}{% endfor %}
{%- if total > 0 %}
    {# <h2>Accionistas</h2> #}
    <h4 id="holderSummary"></h4>{# Aqui dentro va a ir contenido en js #}
    <div class="row">
        <div class="col-6 font-weight-bold">Nombre del accionista</div>
        <div class="col-1 font-weight-bold text-center">País</div>
        <div class="col-1 font-weight-bold text-center">Tipo</div>
        {#<div class="col-1 font-weight-bold text-right">% directo</div>#}
        <div class="col-2 font-weight-bold text-right">% participación</div>
        <div class="col-2 font-weight-bold text-right">Valor</div>
    </div>{% set totalParticipacion = 0 %}{% set skipped = 0 %}
    {% for entity in parent.companyHolders %}
    {% set participacion = (entity.totalOwnership>0?entity.totalOwnership:entity.directOwnership) * lastCompanyIncomings / 100 %}
    {%- if entity.skip -%}{% set showHideClasslist = " table-danger d-none" %}
        {% set skipped = skipped + 1 %}
    {% else %}
        {% set showHideClasslist = '' %}
        {% set totalParticipacion = totalParticipacion + participacion %}
    {% endif -%}
        <div class="row border{{ showHideClasslist }}">
            <div class="col-6 border-right">
                <a href="{{ path(prefix ~ 'shareholder_edit', { 'id': entity.id }) }}">{{ entity }}</a>
            {% if entity.holder.inlist %}<i class="fa-solid fa-star" title="Forma parte de la red"></i>{% endif %}
            </div>
            <div class="col-1 text-center"title="{{entity.holder.country|country_name('es') }}">{{ entity.holder.country }}</div>
            <div class="col-1 text-center" title="{{entity.holderCategory.description }}">{{ entity.holderCategory.letter }}</div>
            {# <div class="col-1 text-right">{{ entity.directOwnership > 0 ? entity.directOwnership|number_format(2, '.', ',') : '--' }}</div> #}
            <div class="col-2 text-right">{{ (entity.totalOwnership > 0?entity.totalOwnership:entity.directOwnership)|number_format(2, '.', ',') }}</div>
            <div class="col-2 text-right">{{ participacion|number_format(0, '.', ',') }} €</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-right">Total: {{ totalParticipacion|number_format(0, '.', ',') }} €</div>
    </div>
    <script>
        const holderSummary = document.getElementById('holderSummary');
        let summaryText = 'Ingresos: {{ lastCompanyIncomings|number_format(0, '.', ',') }}€, Total: {{ total }} accionistas';
        {% if skipped %}
            const extraDiv = document.createElement('span');
            extraDiv.innerHTML = ' ({{ skipped }} omitidos <a id="showSkippedHolders" href="#">Mostrar</a>)';
            holderSummary.innerHTML = summaryText;
            holderSummary.appendChild(extraDiv);
            const showSkippedHolders = extraDiv.querySelector('#showSkippedHolders');
            showSkippedHolders.addEventListener('click', function(e) {
                e.preventDefault();
                const skippedItems = holderSummary.parentElement.querySelectorAll('.table-danger');
                if (skippedItems[0].classList.contains('d-none')) {
                    showSkippedHolders.innerText = 'Ocultar';
                } else {
                    showSkippedHolders.innerText = 'Mostrar';
                }
                skippedItems.forEach(function(skippedItem) {
                    skippedItem.classList.toggle('d-none');
                    }
                );
            }
            );
        {% else %}
            holderSummary.innerText = summaryText;
        {% endif %}
    </script>
{% else %}
    <p>No hay accionistas para esta empresa</p>
{% endif %}
<br>
<p><a href="{{ path(prefix ~ 'shareholder_new', {'id': parent.id } )}}">Añadir accionista</a></p>
