{% set total = parent.companyHolders|length %}{% if total > 0 %}
    {# <h2>Accionistas</h2> #}
    <h4>Total: {{ total }} accionistas</h4>
    <div class="row">
        <div class="col-7 font-weight-bold">Nombre</div>
        <div class="col-1 font-weight-bold text-center">País</div>
        <div class="col-1 font-weight-bold text-center">Tipo</div>
        <div class="col-2 font-weight-bold text-right">% directo</div>
        <div class="col-1 font-weight-bold text-right">% total</div>
    </div>
    {% for entity in parent.companyHolders %}
        <div class="row border">
            <div class="col-7 border-right"><a href="{{ path(prefix ~ 'shareholder_edit', { 'id': entity.id }) }}">{{ entity }}</a></div>
            <div class="col-1  text-center">{{ entity.holder.country }}</div>
            <div class="col-1  text-center">{{ entity.holder.category.letter }}</div>
            <div class="col-2 text-right">{{ entity.directOwnership != 0 ? entity.directOwnership|number_format(2, '.', ',') : '--' }}</div>
            <div class="col-1 text-right">{{ entity.totalOwnership != 0 ? entity.totalOwnership|number_format(2, '.', ',') : 'n.d.' }}</div>
        </div>
    {% endfor %}
{% else %}
    <p>No hay accionistas para esta empresa</p>
{% endif %}
<br>
<p><a href="{{ path(prefix ~ 'shareholder_new', {'id': parent.id } )}}">Añadir accionista</a></p>
