{% set total = parent.holders|length %}
{% set lastCompanyIncomings = 0 %}
{% for i in parent.companyIncomings %}{% set lastCompanyIncomings = i.amount %}{% endfor %}
{%- if total > 0 %}
    <h4 id="holderSummary"></h4>{# Aqui dentro va a ir contenido en js #}
    <div class="row">
        <div class="col-7 font-weight-bold">Nombre del accionista</div>
        <div class="col-1 font-weight-bold text-center">Tipo</div>
        {#<div class="col-1 font-weight-bold text-right">% directo</div>#}
        <div class="col-2 font-weight-bold text-right">% participación</div>
        <div class="col-2 font-weight-bold text-right">Valor</div>
    </div><div class="listtop"></div>
    {% set totalParticipacion = 0 %}{% set skipped = 0 %}
    {% for entity in parent.holders %}
    {% set participacion = (entity.total>0?entity.total:entity.direct) * lastCompanyIncomings / 100 %}
    {%- if entity.skip -%}{% set showHideClasslist = " table-danger d-none" %}
        {% set skipped = skipped + 1 %}
    {% else %}
        {% set showHideClasslist = '' %}
        {% set totalParticipacion = totalParticipacion + participacion %}
    {% endif -%}
        <div class="row border{{ showHideClasslist ~ (entity.holderCategory.letter == 'H'?" company-self-owned":"") }}">
            <div class="col-7 border-right">{{ entity.holder.fullname }} {{ entity.via?'via its funds ':'' }}<span title="{{entity.holder.country|country_name('es') }}">{{ entity.holder.getCountrySuffix}}</span>
                <a href="{{ path(prefix ~ 'shareholder_edit', { 'id': entity.id }) }}" title="Editar registro de accionista"><i class="fa fa-edit"></i></a>
                <a href="{{ path(prefix ~ "show",  {'id': entity.holder.id} )}}" title="Ver la empresa"><i class="fa fa-home"></i></a>
            {% if entity.holder.inlist %}<i class="fa-solid fa-star" title="Forma parte de la red"></i>{% endif %}
            </div>
            <div class="col-1 text-center" title="{{entity.holderCategory.description }}">{{ entity.holderCategory.letter }}</div>
            {# <div class="col-1 text-right">{{ entity.direct > 0 ? entity.direct|number_format(2, '.', ',') : '--' }}</div> #}
            <div class="col-2 text-right">{{ (entity.total > 0?entity.total:entity.direct)|number_format(2, '.', ',') }}</div>
            <div class="col-2 text-right">{{ participacion|number_format(0, '.', ',') }} €</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-right">Total: {{ totalParticipacion|number_format(0, '.', ',') }} €</div>
    </div>
    <script>
        const holderSummary = document.getElementById('holderSummary');
        let summaryText = 'Ingresos: {{ lastCompanyIncomings|number_format(0, '.', ',') }}€, Total: {{ total }} accionistas';
        {% if skipped %}
            const extraDiv = document.createElement('span');
            extraDiv.innerHTML = ' ({{ skipped }} omitidos <a id="showSkippedHolders" href="#">Mostrar</a>)';
            holderSummary.innerHTML = summaryText;
            holderSummary.appendChild(extraDiv);
            const showSkippedHolders = extraDiv.querySelector('#showSkippedHolders');
            showSkippedHolders.addEventListener('click', function(e) {
                e.preventDefault();
                const skippedItems = holderSummary.parentElement.querySelectorAll('.table-danger');
                if (skippedItems[0].classList.contains('d-none')) {
                    showSkippedHolders.innerText = 'Ocultar';
                } else {
                    showSkippedHolders.innerText = 'Mostrar';
                }
                skippedItems.forEach(function(skippedItem) {
                    skippedItem.classList.toggle('d-none');
                    }
                );
            }
            );
        {% else %}
            holderSummary.innerText = summaryText;
        {% endif %}
        const holderlisttop = holderSummary.parentElement.querySelector('.listtop')
        const companySelfOwned = holderSummary.parentElement.querySelector('.company-self-owned')
        if (companySelfOwned) {
            holderlisttop.appendChild(companySelfOwned)
        }
    </script>
{% else %}
    <p>No hay accionistas para esta empresa</p>
{% endif %}
<br>
<p><a href="{{ path(prefix ~ 'shareholder_new', {'id': parent.id } )}}">Añadir accionista</a></p>
