{% set total = groupparticipants|length %}{% if total > 0 %}
    {# <h2>Grupo de empresa</h2> #}
    <div class="row">
        <div class="col-8 font-weight-bold">Nombre</div>
        <div class="col font-weight-bold">País</div>
        <div class="col font-weight-bold">Tipo</div>
        <div class="col font-weight-bold">% Directo</div>
        <div class="col font-weight-bold">% Total</div>
    </div>
    {% if groupparticipants.owner is defined %}
        <div class="row bg-light primary">
            <div class="col-12 font-weight-bold">Matriz</div>
        </div>
        {% set owner = groupparticipants.owner %}
        <div class="row border">
            <div class="col-8 border-right"><a href="{{ path(prefix ~ "show",  {'id': owner.owner.id} )}}">{{ owner.owner.fullname }}</a></div>
            <div class="col">{{ owner.owner.country }}</div>
            <div class="col" title="{{owner.owner.category.description }}">{{ owner.owner.category.letter }}</div>
            <div class="col">{{ owner.direct == 0 ? '--': owner.direct == 50.01 ? ">50": owner.direct|number_format(2, '.', ',') }}</div>
            <div class="col">{{ owner.percent == 0 ? 'n.d.': owner.percent == 50.01 ? ">50": owner.percent|number_format(2, '.', ',') }}</div>
        </div>
    {% endif %}
        <div class="row bg-light primary">
            <div class="col-12 font-weight-bold">Miembros del grupo ({{ groupparticipants.owned|length }})</div>
        </div>
    {% for entity in groupparticipants.owned %}
        <div class="row border">
            <div class="col-8 border-right"><a href="{{ path(prefix ~ "show",  {'id': entity.owned.id} )}}">{{ entity.owned.fullname }}</a></div>
            <div class="col">{{ entity.owned.country }}</div>
            <div class="col" title="{{entity.owned.category.description }}">{{ entity.owned.category.letter }}</div>
            <div class="col">{{ entity.direct == 0 ? '--': entity.direct == 50.01 ? ">50": entity.direct|number_format(2, '.', ',') }}</div>
            <div class="col">{{ entity.percent == 0 ? 'n.d.': entity.percent == 50.01 ? ">50": entity.percent|number_format(2, '.', ',') }}</div>
        </div>
    {% endfor %}
{% else %}
    <p>No hay participadas para esta empresa</p>
{% endif %}
<br>
