{% extends 'base.html.twig' %}

{% block title %}Empresas{% endblock %}

{% block pagination %}
{% if maxPages > 1 %}
<ul class="pagination pg-blue" id="companypagination">
    {# `«` arrow  #}
    {% set numPages = 5 %}
    {% set minPage = thisPage - numPages <1 ? 1 : thisPage - numPages %}
    {% set maxPage = thisPage + numPages > maxPages ? maxPages : thisPage + numPages %}
    <li class="page-item{{ thisPage == 1 ? ' disabled' }}">
        <a class="page-link" title="Primera página" href="{{ path(indexURL, {page: 1 }) }}">«</a>
    </li>

    {# Render each page number #}
    {% if thisPage > 1%}
        <li class="page-item">
            <a class="page-link" title="Página anterior" href="{{ path(indexURL, {page: thisPage-1 }) }}">&lt;</a>
        </li>
        {% for i in minPage..thisPage-1 %}
            <li class="page-item"><a class="page-link" href="{{ path(indexURL, {page: i}) }}">{{ i }}</a></li>
        {% endfor %}
    {% endif %}
        <li class="page-item active"><span class="page-link">{{ thisPage }}</span></li>
    {% if thisPage < maxPages %}
        {% for i in thisPage+1..maxPage %}
            <li class="page-item"><a class="page-link" href="{{ path(indexURL, {page: i}) }}">{{ i }}</a></li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link" title="Página siguiente" href="{{ path(indexURL, {page: thisPage+1 }) }}">&gt;</a>
        </li>
    {% endif %}
    {# `»` arrow #}
    <li class="page-item{{ thisPage == maxPages ? ' disabled' }}">
        <a class="page-link" title="Última página" href="{{ path(indexURL, {page: maxPages }) }}">»</a>
    </li>
</ul>
{% endif %}

{% endblock %}

{% block body %}
    {% if search is defined %}
        <h1>Resultados de la búsqueda:</h1>
        <h2>Buscando por: {{ search }}</h2>
        <hr>
    {% endif %}
    <h1>Empresas</h1>
    {% set indexURL = 'company_index' %}
    {{ block('pagination') }}
            <div class="row">
                <div class="col-7 table-bordered p-1 font-weight-bold">Nombre (País)</div>
                <div class="col-2 table-bordered p-1 font-weight-bold">Nivel</div>
                <div class="col-1 table-bordered p-1 font-weight-bold">Accionistas</div>
                <div class="col-1 table-bordered p-1 font-weight-bold">Participadas</div>
                <div class="col-1 table-bordered p-1 font-weight-bold">Activa</div>
            </div>
        {% for company in companies %}
            <div class="row">
                <div class="col-7 table-bordered p-1"><a href="{{ path('company_show', {'id': company.id}) }}">{{ company.fullname }}
                {% if company.level == 'Matriz' %}
                [{{ company.country }}]
                {% else %}
                ({{ company.country }})
                {% endif %}
                </a></div>
                <div class="col-2 table-bordered p-1">{{ company.level }}</div>
                <div class="col-1 table-bordered p-1 text-right">{{ company.holders|length }}</div>
                <div class="col-1 table-bordered p-1 text-right">{{ company.subsidiaries|length }}</div>
                <div class="col-1 table-bordered p-1">{{ company.active ? 'Yes' : 'No' }}</div>
            </div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </table>
    <br>
    {{ block('pagination') }}
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('company_new') }}">Create new</a>{% endif %}
{% endblock %}
