{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>{{ company.fullname }}</h1>

    <div class="row">
        <div class="col-2">Nombre corto</div>
        <div class="col-1">País</div>
        <div class="col-3">Nivel</div>
        <div class="col-1">Activa</div>
    </div>
    <div class="row">
        <div class="col-2">
            <a href="{{ path('company_edit', {'id': company.id}) }}">{{ company.ShortName }}</a>
        </div>
        <div class="col-1">{{ company.country }}</div>
        <div class="col-3">{{ company.level }}</div>
        <div class="col-1">{{ company.active ? 'Yes' : 'No' }}</div>
    </div>
    <div class="row">
    <div class="col-12">Notes</div>
    </div>
    <div class="row">
        <div class="col-12">{{ company.notes }}</div>
    </div>


        <!-- Tabs navs -->
        {% set tabname = 'myTabList' %}
        <ul class="nav nav-tabs md-tabs" id="{{tabname}}" role="tablist">
            {% for tab in tabs %}
                <li class="nav-item">
                    <a class="nav-link{{ tab.a == true ? ' active' }}" id="{{ tab.n }}-tab" data-toggle="tab" href="#{{ tab.n }}" role="tab" aria-controls="{{ tab.n }}" aria-selected="true">{{ tab.t }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content border-right border-bottom border-left" id="{{tabname}}-content">
            {% for tab in tabs %}
                <!-- Tab X -->
                <div class="tab-pane fade{{ tab.a == true ? ' active' }}" id="{{ tab.n }}" role="tabpanel" aria-labelledby="{{ tab.n }}-tab">
                {{ include('company/' ~ tab.n ~ '/index.html.twig') }}
                </div>
                <!-- Fin TabX -->
            {% endfor %}
        </div>
        <!-- Tabs content -->



{% endblock %}
