{% extends 'base.html.twig' %}

{% block title %}Empresa {{ parent }}{% endblock %}

{% block body %}
    <h1>{{ parent.fullname }}</h1>

    <div class="row">
        <div class="col-2">Nombre corto</div>
        <div class="col-1">País</div>
        <div class="col-2">Rol</div>
        <div class="col-2">Tipo</div>
        <div class="col-1">Activa</div>
    </div>
    <div class="row">
        <div class="col-2">
            <a href="{{ path(prefix~ 'edit', {'id': parent.id}) }}">{{ parent.ShortName == '' ? '(no tiene)' : parent.ShortName }}</a>
        </div>
        <div class="col-1">{{ parent.country }}</div>
        <div class="col-2">{{ parent.level }}</div>
        <div class="col-2">{{ parent.category.letter }}</div>
        <div class="col-1">{{ parent.active ? 'Sí' : 'No' }}</div>
    </div>
    <div class="row">
        <div class="col-12">Notas</div>
    </div>
    <div class="row">
        <div class="col-12">{{ parent.notes }}</div>
    </div>


        <!-- Tabs navs -->
        {% set tabname = 'myTabList' %}{% if activetab is not defined %}{% set activetab = 'incomings' %}{% endif %}
        <ul class="nav nav-tabs md-tabs" id="{{tabname}}" role="tablist">
            {% for tab in tabs %}
                <li class="nav-item">
                    <a class="nav-link{{ tab.n == activetab ? ' active" aria-selected="true' }}" id="{{ tab.n }}-tab" data-toggle="tab" href="#{{ tab.n }}" role="tab" aria-controls="{{ tab.n }}">{{ tab.t }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content border-right border-bottom border-left" id="{{tabname}}-content">
            {% for tab in tabs %}
                <!-- Tab {{ tab.n }} -->
                <div class="tab-pane fade{{ tab.n == activetab ? ' active show' }}" id="{{ tab.n }}" role="tabpanel" aria-labelledby="{{ tab.n }}-tab">
                {{ include('company/' ~ tab.n ~ '/index.html.twig') }}
                </div>
                <!-- Fin Tab {{ tab.n }} -->
            {% endfor %}
        </div>
        <!-- Tabs content -->



{% endblock %}
