{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>{{ company.fullname }}</h1>

    <div class="row">
        <div class="col-2">Nombre corto</div>
        <div class="col-1">País</div>
        <div class="col-3">Nivel</div>
        <div class="col-1">Activa</div>
    </div>
    <div class="row">
        <div class="col-2">
            <a href="{{ path('company_edit', {'id': company.id}) }}">{{ company.ShortName }}</a>
        </div>
        <div class="col-1">{{ company.country }}</div>
        <div class="col-3">{{ company.level }}</div>
        <div class="col-1">{{ company.active ? 'Yes' : 'No' }}</div>
    </div>
    <div class="row">
    <div class="col-12">Notes</div>
    </div>
    <div class="row">
        <div class="col-12">{{ company.notes }}</div>
    </div>


        <!-- Tabs navs -->
        {% set active1 = '' %}{% set active2 = '' %}{% set active3 = '' %}{% set active4 = '' %}
        {% if active_tab is not defined %}{% set active_tab = 1 %}{% endif %}
        {% if active_tab == 1 %}{% set active1 = 'active' %}
        {% else %}
            {% if active_tab == 2 %}{% set active2 = 'active' %}
            {% else %}{% set active3 = 'active' %}
            {% endif %}
        {% endif %}
        {% set tabname = 'myTabList' %}
        <ul class="nav nav-tabs md-tabs" id="{{tabname}}" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{ active1 }}" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
              aria-selected="true">Ingresos de explotación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ active2 }}" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
              aria-selected="false">Accionistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ active3 }}" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
              aria-selected="false">Enlaces</a>
          </li>
              <li class="nav-item">
            <a class="nav-link {{ active4 }}" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
              aria-selected="false">Eventos</a>
          </li>
    </ul>
          <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content border-right border-bottom border-left" id="{{tabname}}-content">
              <!-- Tab1 -->
            <div class="tab-pane fade show mb-4 {{ active1 }}" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                {{ include('company/incomings/incomings_index.html.twig') }}
            </div>
            <!-- Fin Tab1 -->

            <!-- Tab2 -->
            <div class="tab-pane fade {{ active2 }}" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <h4>Accionistas</h4>
                <p></p>
            </div>
            <!-- Fin Tab2 -->

            <!-- Tab3 -->
            <div class="tab-pane fade {{ active3 }}" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <h4>Enlaces</h4>
            </div>
            <!-- Fin tab3 -->

            <!-- Tab4 -->
            <div class="tab-pane fade {{ active4 }}" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                {{ include('company/events.html.twig') }}
            </div>
            <!-- Fin tab4 -->
        </div>
        <!-- Tabs content -->



{% endblock %}
