<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('components/css/bootstrap.min.css')}}" />
        <!-- Material Design Bootstrap -->
        {#}<link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">#}
        <!-- Your custom styles (optional) -->
        {#}<link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">#}
        <link href="{{ asset('components/css/fontawesome.css') }}" rel="stylesheet">
        <link href="{{ asset('components/css/solid.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('custom/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {#{{ encore_entry_link_tags('app') }}#}
        <header>
        {% block header %}
    	   {% include 'header.html.twig' %}
    	{% endblock %}
        </header>
    	<section class="main">
            {% block flash_messages %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">{{ flashMessage }}</div>
                {% endfor %}
            {% endblock %}
        </section>
        <br><br><br>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

          <!-- jQuery -->
          <script type="text/javascript" src="{{ asset('components/jquery.min.js') }}"></script>
          <!-- Bootstrap tooltips -->
          <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
          <!-- Bootstrap core JavaScript -->
          <script type="text/javascript" src="{{ asset('components/js/bootstrap.min.js') }}"></script>
          <!-- Your custom scripts (optional) -->
          <script type="text/javascript" src="{{ asset('app.js') }}"></script>
          <script type="text/javascript"></script>
    </body>
</html>
