{% set total = parent.subsidiaries|length %}
{%- if total > 0 %}
    <h4 id="heldSummary"></h4>{# Aqui dentro va a ir contenido en js #}
    <div class="row">
        <div class="col-6 font-weight-bold">Nombre de la participada</div>
        <div class="col-2 font-weight-bold text-center">Ingresos</div>
        <div class="col-1 font-weight-bold text-center">Tipo</div>
        {#<div class="col-1 font-weight-bold text-right">% directo</div>#}
        <div class="col-1 font-weight-bold text-right">% part.</div>
        <div class="col-2 font-weight-bold text-right">Valor</div>
    </div>{% set totalParticipacion = 0 %}{% set skipped = 0 %}
        {% set lastCompanyIncomings = 0 %}
    {% for entity in parent.subsidiaries %}
        {% set lastCompanyIncomings = 0 %}
        {% for i in entity.subsidiary.companyIncomings %}{% set lastCompanyIncomings = i.amount %}{% endfor %}
        {% set participacion = (entity.total>0?entity.total:entity.direct) * lastCompanyIncomings / 100 %}
        {%- if entity.skip -%}{% set showHideClasslist = " table-danger d-none" %}
            {% set skipped = skipped + 1 %}
        {% else %}
            {% set showHideClasslist = '' %}
            {% set totalParticipacion = totalParticipacion + participacion %}
        {% endif -%}
        <div class="row border{{ showHideClasslist ~ (entity.holderCategory.letter == 'H'?" company-self-owned":"") }}">
            <div class="col-6 border-right">
                {{ entity.subsidiary.fullname }} <span title="{{entity.subsidiary.country|country_name('es') }}">({{ entity.subsidiary.country }})</span>
                <a href="{{ path(prefix ~ "show",  {'id': entity.subsidiary.id} )}}" title="Ver la empresa"><i class="fa fa-home"></i></a>
            {% if entity.subsidiary.inlist %}<i class="fa-solid fa-star" title="Forma parte de la muestra"></i>{% endif %}
            </div>
            <div class="col-2 text-right">{{ lastCompanyIncomings|number_format(0, '.', ',') }} €</div>
            <div class="col-1 text-center" title="{{entity.holderCategory.description }}">{{ entity.holderCategory.letter }}</div>
            {# <div class="col-1 text-right">{{ entity.direct > 0 ? entity.direct|number_format(2, '.', ',') : '--' }}</div> #}
            <div class="col-1 text-right">{{ (entity.total > 0?entity.total:entity.direct)|number_format(2, '.', ',') }}</div>
            <div class="col-2 text-right">{{ participacion|number_format(0, '.', ',') }} €</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-right">Total: {{ totalParticipacion|number_format(0, '.', ',') }} €</div>
    </div>
    <script>
        const heldSummary = document.getElementById('heldSummary');
        let heldsummaryText = 'Valor: {{ totalParticipacion|number_format(0, '.', ',') }}€, Total: {{ total }} participaciones';
        heldSummary.innerText = heldsummaryText;
        {% if skipped %}
            const heldextraDiv = document.createElement('span');
            heldextraDiv.innerHTML = ' ({{ skipped }} omitidos <a id="showSkippedHeld" href="#">Mostrar</a>)';
            heldSummary.innerHTML = heldsummaryText;
            heldSummary.appendChild(heldextraDiv);
            const showSkippedHeld = heldextraDiv.querySelector('#showSkippedHeld');
            showSkippedHeld.addEventListener('click', function(e) {
                e.preventDefault();
                const skippedHeldItems = heldSummary.parentElement.querySelectorAll('.table-danger');
                if (skippedHeldItems[0].classList.contains('d-none')) {
                    showSkippedHeld.innerText = 'Ocultar';
                } else {
                    showSkippedHeld.innerText = 'Mostrar';
                }
                skippedHeldItems.forEach(function(skippedItem) {
                    skippedItem.classList.toggle('d-none');
                    }
                );
            }
            );
        {% else %}
            heldSummary.innerText = heldsummaryText;
        {% endif %}
    </script>
{% else %}
    <p>No hay participaciones para esta empresa</p>
{% endif %}
