{% extends 'base.html.twig' %}

{% block title %}CompanyLevel index{% endblock %}

{% block body %}
    <h1>CompanyLevel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company_level in company_levels %}
            <tr>
                <td>{{ company_level.id }}</td>
                <td>{{ company_level.level }}</td>
                <td>
                    <a href="{{ path(PREFIX ~ 'show', {'id': company_level.id}) }}">show</a>
                    <a href="{{ path(PREFIX ~ 'edit', {'id': company_level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(PREFIX ~ 'new') }}">Create new</a>
{% endblock %}
