{% extends 'base.html.twig' %}

{% block title %}CurrencyExchange index{% endblock %}

{% block body %}
    <h1>CurrencyExchange index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency_exchange in currency_exchanges %}
            <tr>
                <td>{{ currency_exchange.year ? currency_exchange.year|date('d/m/Y') : '' }}</td>
                <td>{{ currency_exchange.amount }} {{ currency_exchange.currency.name }}s es 1 €</td>
                <td>
                    <a href="{{ path(PREFIX ~ 'show', {'id': currency_exchange.id}) }}">show</a>
                    <a href="{{ path(PREFIX ~ 'edit', {'id': currency_exchange.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(PREFIX ~ 'new') }}">Create new</a>
{% endblock %}
